*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
/.idea/
/software/products/target/
/kotlin-lambda-example-graalvm.iml
/software/products/products.iml
target
